body{
text-align: center;
}
img{
height:350px;
width:250px;
}
h1{
   color:#FF4081;
   font-weight:200px;
}
h2{
   color:#FF4081;
   font-weight:200px;
}
h3{
   color:#1A237E;
   font-weight:200px;
}
h4{
   color:#1A237E;
   font-weight:250px;
}
h5{
   color:#1A237E;;
   font-weight:150px;
}
h6{
   color:#1A237E;
   font-weight:120px;
}
h7{
   color:#1A237E;
   font-weight:120px;
}
h8{
   color:#1A237E;
   font-weight:120px;
}
h9{
   color:#1A237E;
   font-weight:120px;
}
h10{
   color:#1A237E;
   font-weight:120px;
}
h11{
   color:#1A237E;
   font-weight:120px;
}
h12{
   color:#1A237E;
   font-weight:120px;
}
h13{
   color:#1A237E;
   font-weight:120px;
}
h14{
   color:#1A237E;
   font-weight:120px;
}
h15{
   color:#1A237E;
   font-weight:120px;
}
h16{
   color:#1A237E;
   font-weight:120px;
}
